@import url(styles-footer.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

main {
    font-family: "Raleway", sans-serif;
    display: grid;
    grid-template-columns: auto repeat(2, 1fr);
    grid-template-rows: 70px auto auto 70px;
    grid-template-areas:
        "header header header"
        "hero hero hero"
        "content content content"
        "footer footer footer";
    height: 100vh;
    /* Ocupa el 100% de la altura de la ventana */
}

.header {
    grid-area: header;
    font-family: "Raleway", sans-serif;
    display: flex;    
    padding: 20px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

.hero{
    
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 200px;
}

.container{
    justify-content: center;    
    align-items: center;
    text-align: center;
    margin-left: 80px;
    height: 100%;
    margin: auto;
    margin-top: 200px;
    margin-left: 80px;
    
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%,#0000008c 100%), url('/img/hero.png');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.hero h1 {
    /* margin-left: 80px; */
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;

    
}

.hero a{
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
    background-color: rgb(33, 133, 70);
    justify-self: center;
    color: #fff;
    padding: 13px 30px;
    border-radius: 32px;
}

.hero h3{
    
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
     margin-right: 20px; 
}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #437c58;
    font-family: 'Poppins',sans-serif;

}

.logo a {
    text-decoration: none;
    color: #5fcf80;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 24px;
    margin-left: 150px;
}

    

.hero {
    grid-area: hero;
}


.content {
    grid-area: content;
    text-align: center;
}

footer {
    grid-area: footer;
}

.content__paragraph {
    line-height: 1.7;
}

.content__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.content__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.content__icon {
    width: 40px;
}
.subtitle {
    color: rgb(35, 101, 35);
    font-size: 2rem;
    margin-bottom: 25px;
}

.footer{
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #EEF0EF;
    padding: 20px;
    /* background-color:rgb(235, 247, 252); */
    /* box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08); */
}